server:
  port: 8090

spring:
  datasource:
    hikari:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:~/test
    platform: h2
    #初始化脚本
    schema: classpath:db/schema.sql



      #在浏览器中开启控制台

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2




mybatis:
  mapper-locations: classpath:mapping/*Mapper.xml
  type-aliases-package: com.linjingc.h2demo.entity

#showSql
logging:
  level:
    com:
      example:
        mapper : debug